#firstSectionContainer {
    height: 650px;
    width: 100%;
    max-width: 1600px;
    margin-top: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
}

#sectionText {
    min-width: 400px;
    width: 460px;
    display: flex;
    flex-direction: column;
}

#sectionText h2 {
    font-size: 56px;
    line-height: 58px;
    color: #202124;
    font-family: "Google Sans", "Roboto", Arial, sans-serif;
    font-weight: 500;
    margin: 0;
    margin-bottom: 36px;
}

#sectionText p {
    margin: 0;
    color: #5f6368;
    font-family: "Google Sans", "Roboto", Arial, sans-serif;
    font-size: 18px;
    line-height: 28px;
}

#sectionText #buttonsContainer {
    display: flex;
    margin: 30px 0 0 0;
    gap: 16px;
}

#sectionImage {
    margin: 0 0 0 70px;
}

#sectionImage img {
    width: 860px;
    height: 650px;
}